{% extends 'base.html.twig' %}

{% block title %}
    Game
{% endblock %}

{% block content %}
    <h2>{{ 'game.h2'|trans  }}</h2>

    <p class="attempts">
        You still have {{ game.RemainingAttemps }} remaining attempts.
    </p>

    <ul class="word_letters">

        {% for letter in game.wordLetters %}
            <li class="letter {{ game.letterFound(letter) ? 'guessed' }} hidden">
                {{ game.letterFound(letter) ? letter : '?' }}
            </li>
        {% endfor %}
    </ul>

    <br class="clearfix" />

    <p class="attempts">
        <a href="{{ path('resetGame' }}">Reset the game</a>
    </p>

    <br class="clearfix" />

    <h2>Try a letter</h2>

    <ul>
        {% for letter in 'A'..'Z' %}
            <li class="letter">
                <a href="{{ path('tryLetter', {'letter': letter}) }}">
                    {{ letter }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Try a word</h2>

    <form action="/game/word" method="post">
        <p>
            <label for="word">Word:</label>
            <input type="text" id="word" name="word"/>
            <button type="submit">Let me guess...</button>
        </p>
    </form>
{% endblock %}

{% block sidebar %}
    <h3>Last Games</h3>
    <div class="date-list">
        <ul class="list date-list">

            <li class="first"><span class="date">Jan 13</span> <a href="#">Ultrices quisque molestie</a></li>
            <li><span class="date">Jan 7</span> <a href="#">Neque dolor eget</a></li>
            <li><span class="date">Jan 1</span> <a href="#">Sollicitudin interdum</a></li>
            <li class="last"><span class="date">Dec 26</span> <a href="#">Varius dignissim</a></li>

        </ul>
    </div>
    <h3>Last players</h3>
    <ul>
        <li>user 1</li>
        <li>user 2</li>
        <li>user 3</li>
        <li>user 4</li>
        <li>user 5</li>
    </ul>
{% endblock %}